<div class="row m-4">
    <div class="col">
        <div class="h2 mt-2 mb-4"><h2>COCKTAIL PLAYGROUND</div>
        <% @cocktails.each do | cocktail | %>
            <h3 style="font-weight: lighter;"><%= cocktail.name %></h3>
            <% if cocktail.alcoholic == true %>
                <p><%= cocktail.percentage %>%</p>               
                <% else %>
                <%= render html: tag.p('Non-Alcoholic') %>
            <% end %> 
        <% end %>
    </div>
</div>

<!-- TODO NEXT ADD INGREDIENTS -->
