
<div class="col">
    <% @cocktails.each do | cocktail | %>
        <h3>Cocktail name: <%= cocktail.name %></h3>
        <% if cocktail.alcoholic == true %>
            <%= render html: tag.p('Render HTML test if boolean = true: Alcoholic')  %>
        <% else %>
            <%= render html: tag.p('Render HTML test if boolean = false: Non-Alcoholic') %>
        <% end %> 
    <% end %>
</div>